---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<example_github_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1570861993'
      Etag:
      - W/"69b062abe4371d26aa1fcd76caaa31e5"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 52d55238b7f2dc5a7fa3
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<example_github_token>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<example_github_token>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":213485077,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM0ODUwNzc=","name":"brownfield-of-dreams","full_name":"hsmitha26/brownfield-of-dreams","private":false,"owner":{"login":"hsmitha26","id":32909448,"node_id":"MDQ6VXNlcjMyOTA5NDQ4","avatar_url":"https://avatars0.githubusercontent.com/u/32909448?v=4","gravatar_id":"","url":"https://api.github.com/users/hsmitha26","html_url":"https://github.com/hsmitha26","followers_url":"https://api.github.com/users/hsmitha26/followers","following_url":"https://api.github.com/users/hsmitha26/following{/other_user}","gists_url":"https://api.github.com/users/hsmitha26/gists{/gist_id}","starred_url":"https://api.github.com/users/hsmitha26/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hsmitha26/subscriptions","organizations_url":"https://api.github.com/users/hsmitha26/orgs","repos_url":"https://api.github.com/users/hsmitha26/repos","events_url":"https://api.github.com/users/hsmitha26/events{/privacy}","received_events_url":"https://api.github.com/users/hsmitha26/received_events","type":"User","site_admin":false},"html_url":"https://github.com/hsmitha26/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams","forks_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/hsmitha26/brownfield-of-dreams/deployments","created_at":"2019-10-07T20:55:39Z","updated_at":"2019-10-11T17:11:24Z","pushed_at":"2019-10-11T18:50:22Z","git_url":"git://github.com/hsmitha26/brownfield-of-dreams.git","ssh_url":"git@github.com:hsmitha26/brownfield-of-dreams.git","clone_url":"https://github.com/hsmitha26/brownfield-of-dreams.git","svn_url":"https://github.com/hsmitha26/brownfield-of-dreams","homepage":"","size":439,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":19,"license":null,"forks":0,"open_issues":19,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":206139156,"node_id":"MDEwOlJlcG9zaXRvcnkyMDYxMzkxNTY=","name":"monster_shop_1906","full_name":"leiyakenney/monster_shop_1906","private":false,"owner":{"login":"leiyakenney","id":45922590,"node_id":"MDQ6VXNlcjQ1OTIyNTkw","avatar_url":"https://avatars3.githubusercontent.com/u/45922590?v=4","gravatar_id":"","url":"https://api.github.com/users/leiyakenney","html_url":"https://github.com/leiyakenney","followers_url":"https://api.github.com/users/leiyakenney/followers","following_url":"ht[...]
